{{ $data := (fromYaml (join .chezmoi.sourceDir "dot_config/wezterm/secret_data.yml" | include | decrypt)) -}}
-- Use M.VAR_NAME to create a new secret
local M = {}

{{ if hasKey $data .host -}}
{{ with index $data .host -}}
{{ . }}
{{ end -}}
{{ end -}}

return M

