#!/bin/bash
{{ $installFlatpak := empty .flatpak -}}
{{ $packagesForAllSystems := .packages.all -}}
{{ $packagesForHost := dict -}}
{{ if hasKey .packages .host -}}
{{ $packagesForHost = index .packages .host -}}
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
  {{ if $packagesForAllSystems.darwin.brews -}}
    echo "PACKAGES | Installing packages with brew"
    brew install --quiet {{ $packagesForAllSystems.darwin.brews | join " " }}
  {{ end -}}
  {{ if $packagesForHost.darwin.brews -}}
    echo "PACKAGES | Installing host specific packages with brew"
    brew install --quiet {{ $packagesForHost.darwin.brews | join " " }}
  {{ end -}}
  {{ if $packagesForAllSystems.darwin.casks -}}
    echo "PACKAGES | Installing cask packages with brew"
    brew install --quiet --cask {{ $packagesForAllSystems.darwin.casks | join " " }}
  {{ end -}}
  {{ if $packagesForHost.darwin.casks -}}
    echo "PACKAGES | Installing host specific cask packages with brew"
    brew install --quiet --cask {{ $packagesForHost.darwin.casks | join " " }}
  {{ end -}}
{{ else if eq .chezmoi.os "linux" -}}
  {{ if eq .chezmoi.osRelease.id "fedora" -}}
      echo "PACKAGES | Fedora {{ .chezmoi.osRelease.versionID }} detected"
    {{ if $packagesForAllSystems.fedora -}}
      echo "PACKAGES | Installing packages with dnf"
      sudo dnf install -y {{ .packages.fedora | join " " }}
    {{ end -}}
    {{ if $packagesForHost.fedora -}}
      echo "PACKAGES | Installing host specific packages with dnf"
      sudo dnf install -y {{ $packagesForHost.fedora | join " " }}
    {{ end -}}
  {{ end -}}

  {{ if $installFlatpak -}}
    # Check if flatpak is installed
    if ! command -v flatpak &> /dev/null; then
        echo "PACKAGES | Flatpak is not installed. Installing..."
        sudo dnf install -y flatpak
        flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
    else
        echo "PACKAGES | Flatpak is already installed."
    fi
    {{ if $packagesForAllSystems.flatpak -}}
      flatpak install {{ $packagesForAllSystems.flatpak | join " " }}
    {{ end -}}
    {{ if $packagesForHost.flatpak -}}
      flatpak install {{ $packagesForHost.flatpak | join " " }}
    {{ end -}}
  {{ end -}}
{{ end -}}
