#!/bin/bash
{{ $data := (fromYaml (join .chezmoi.sourceDir "dot_config/git/secret_data.yml" | include | decrypt)) -}}
{{ $gitSSHSigningKey := .gitSSHSigningKey -}}
{{ $homeDir := .chezmoi.homeDir -}}
{{ $gitGeneratedDir := joinPath $homeDir ".config/git/generated" -}}

{{ if hasKey $data.gitExtraConfig .host -}}
echo "GIT | Create extra configuration for includeIf in ~/.config/git/config"
mkdir -p {{ $gitGeneratedDir }}
{{ with index $data.gitExtraConfig .host -}}
{{ range $item := . }}
cat <<EOF > {{ joinPath $gitGeneratedDir (sha1sum $item.path)}}.inc
[user]
    name = "{{ .username }}"
    email = "{{ .usermail }}"
    signingkey = "{{ joinPath $homeDir ".ssh" $gitSSHSigningKey }}.pub"
[gpg]
    format = ssh
[commit]
    gpgsign = true
EOF
{{ end -}}
{{ end -}}
echo "GIT | Finished"
{{ end -}}
