{{ $data := (fromYaml (join .chezmoi.sourceDir "private_dot_aws/secret_data.yml" | include | decrypt)) -}}
{{ if hasKey $data .host -}}
{{ with index $data .host -}}
{{ if hasKey . "aws_cli_credentials" -}}
{{ .aws_cli_credentials }}
{{ end -}}
{{ end -}}
{{ end -}}

